@import "../variables";
@import "../fonts/fonts";

.family {

    background: url(/images/background.png) center no-repeat;

    padding: 20px 20px 0 20px;

    &__header {
        display: flex;
        flex-direction: column;
    }
}

.family__imageSwiper {
    margin-top: 32px;
}

.family__buttons {
    margin-top: 14px;
}

.family__visit {
    margin-top: 32px;
}

.family__logo {
    margin: 0 auto;

    img {
        width: 187px;
    }
}

@media (min-width: 768px) {
    .family {
        padding: 20px 32px 0 32px;
    }

    .family__imageSwiper {
        margin-top: 40px;
    }

    .family__buttons {
        margin-top: 26px;
    }

    .family__visit {
        margin-top: 40px;
    }

    .family__logo {
        margin: 0 auto;
    
        img {
            width: 282px;
        }
    }
}